.customers{
    &__header{
        background: linear-gradient(90deg, rgba(137, 207, 240, .1) 0%, rgba(160, 32, 240, .1) 64.58%, rgba(160, 32, 240, .1)100%);
        padding: 2rem 15rem;
        display: flex;
        justify-content: space-between;
        gap: 12rem;


        &__description{
            padding-top: 5rem;
            padding-bottom: 5rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            flex-basis: 60%;

            & .heading-secondary{
                word-wrap: break-word;
                width: 75%;
            }

            & .heading-quaternary{
                color: #565973;
            }
        }

        &__illustration{
            flex-basis: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            & img{
                width: 85%;
            }
        }
    }
} 