//Reviews Section Slider

.slideshow-container{
    position: relative;
    margin: auto;
}

.containers{
    display: none;
    animation-name: fade;
    animation-duration: 1s;
}

.carousel__slider{
    height: .5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.carousel-indicator{
    width: .7rem;
    height: .7rem;
    border-radius: .6rem;
    background-color: #B4B7C9;
    cursor: pointer;
}

.enable{
    background-color: $color-primary;
    width: 2.5rem;
    height: .7rem;
    border-radius: .6rem;
    transition: all .2s;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: .2s;
    animation-name: fade;
    animation-duration: .2s;
  }

  .fade-in{
    animation-name: in;
    animation-duration: 6s;
  }
  
  @-webkit-keyframes fade {
    from {
        transform: translateX(-100vw);
    }
    to {transform: translateX(0rem);}
  }
  
  @keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }


// More About UGC Section Carousel

//Slider Control Styles
.swiper-button-next, .swiper-button-prev, .swiper-pagination{
    display: block;
    position: relative;
    left: 0;
    right: 0;
    width: auto;
    height: auto;

    &::after{
        content: "";
    }

    &:active{
        transform: translateY(1px);
    }
}

.swiper-pagination{
    margin-top: 5rem;
}


.swiper-pagination-bullet-active{
    background-color: $color-primary;
    width: 2.5rem;
    height: .7rem;
    border-radius: .6rem;
    transition: all .2s;
}

.slider-component{
    display: flex;
    gap: 1rem;
    align-items: center;
}